# Public (exposed to client)
NEXT_PUBLIC_BASE_URL=https://your-domain.com
NEXT_PUBLIC_API_URL=https://api.your-domain.com

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your-google-map-api-key

# Server-only
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=your-secret-key